<div id = "comment-<%=comment.id%>">
  <strong ><%= comment.body %></strong>

 <%if current_user.id == comment.user_id%>

 <a> <%=link_to t('comm.del'), item_comment_path(@item, comment),
 method: :delete, remote: true, style: 'float: right' %>
 <%end%>
 <hr />

 <%=link_to comment.user_id%>
<br />
<br />
</div>

