<style>
.box1 { 
       background: #f0f0f0; 
       
       padding: 40px; 
       height: 4000px;
       margin: 0px;
       margin-top:80px;
       box-shadow: 0 0 10px black ;  }
       .form-control{
     border: 1px solid black;
   }
       </style>
       <div class="box1">



<%= link_to t('clEd.Show'), @coll %> |
<%= link_to t('clEd.Back'), colls_path %>
</div>
